a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.13rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
  text-transform: initial;
  letter-spacing: initial;
  margin: 0 0 0.5rem 0;
}

.dark {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $light-grey;
  }
}
